@media (max-width: 850px) {    
    #navigation-menu:hover nav {
        display: block;
    }
    
    .join-msg {
        display: none;
    }

    .spotlight3-msg {
        display: none;
    }
    
    body {
        min-width: 650px;
    }
}