/*  Main */

:root {
    --primary-color: #002448;
    --secondary-color: #051729;
    --accent1-color: #c9a87d;
    --accent2-color: white;
  
    --heading-font: "Raleway", Arial, Helvetica;
    --paragraph-font: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
    background-color:var(--accent2-color);
    font-size: 22px;
    padding: 0;
    font-family: var(--paragraph-font);
}

header {
    font-family: 'Raleway',arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: var(--primary-color);
    justify-self: center;
    align-self: center;
}

main {
    padding: 5%;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    color: white;
    font-family: 'Raleway', arial, sans-serif;
    background-color:var(--primary-color);
    justify-self: center;
    align-self: center;
    text-align: center;
    font-size: 0.8em;
    padding: 20px;
}

footer .site-logo{
    grid-column: 1/2;
    grid-row: 2/3;
}

footer h4{
    grid-column: 1/6;
}

footer a{
    grid-column: 5/6;
}

footer p{
    grid-column: 2/5;
    align-self: center;
}

#student {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.site-logo {
    justify-self: center;
    padding: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 130px;
}

.site-name {
    color: white;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    text-align: center;
    margin-bottom: 0%;
}

header h4 {
    color: white;
    grid-column: 2/4;
    grid-row: 2/3;
    text-align: center;
}

.social {
    padding: 20px;
}

.date {
    font-size: 0.8em;
    color: white;
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    background-color: var(--secondary-color);
    align-self: center;
}

nav {
    align-self: center;
}

#links {
    display: none;
}

#links a{
    padding: 10px;
}

#links a:link{
    color: var(--accent2-color);
}

#links a:visited{
    color: var(--accent1-color);
}

#navigation-menu {
    color: var(--accent2-color);
    width: 200px;
    text-align: center;
    background-color: var(--secondary-color);
    padding: 15px;
}

h1 {
    font-size: 3em;
    font-family: var(--heading-font);
}

h2 {
    font-size: 2em;
    font-family: var(--heading-font);
}

h3 {
    font-size: 1.7em;
    font-family: var(--heading-font);
}

.hero-msg {
    background-color: #c9a87d;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.event-msg {
    background-color: #c9a87d;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.weather-msg {
    background-color: #c9a87d;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.news-release-msg {
    background-color: #c9a87d;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.join-msg {
    background-color: #c9a87d;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.spotlight1-msg {
    background-color: #c9a87d;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.spotlight2-msg {
    background-color: #c9a87d;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.spotlight3-msg {
    background-color: #c9a87d;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#spotlights {
    border-style: solid;
    border-radius: 20px;
    border-color: var(--secondary-color);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}