/*  Main */

:root {
    --primary-color: #002448;
    --secondary-color: #051729;
    --accent1-color: #c9a87d;
    --accent2-color: white;
  
    --heading-font: "Raleway", Arial, Helvetica;
    --paragraph-font: Arial, Helvetica, sans-serif;
}

body {
    max-width: 900px;
    margin: 0 auto;
    background-color: #fcfbfb;
    font-size: 22px;
    padding: 0;
    font-family: var(--paragraph-font);
}

header {
    font-family: arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: var(--primary-color);
    justify-self: center;
    align-self: center;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: 1/5;
    grid-row: 2/3;
    margin: 20 px;
}

nav a {
    color: #ffffff;
    padding: 20px;
    align-self: center;
}

main {
    font-family: 'Raleway', arial, sans-serif;
}

footer {
    color: white;
    font-family: 'Raleway', arial, sans-serif;
    background-color:var(--primary-color);
    justify-self: center;
    align-self: center;
    text-align: center;
    padding: 20px;
}

#student {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.site-logo {
    justify-self: center;
    padding: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 130px;
}

.site-name {
    color: white;
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    text-align: center;
}

h1 {
    font-size: 3em;
    font-family: var(--heading-font);
}

h2 {
    font-size: 2em;
    font-family: var(--heading-font);
}

h3 {
    font-size: 1.7em;
    font-family: var(--heading-font);
}

.linklist ul{
    background-color: rgb(218, 218, 218);
    padding: 50px;
}

/*  Colors */

.colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
  }

.colors th {
  background-color: #999;
}

.colors td{
  width: 25%;
  height: 3em;
}

.primary {
    background-color: var(--primary-color);
    color: white;
  }
  .secondary {
    background-color: var(--secondary-color);
    color: white;
  }
  .accent1 {
    background-color: var(--accent1-color);
  }
  .accent2{
    background-color: var(--accent2-color);
  }