@media (max-width: 850px) {
    h1 {
        font-size: 1.5rem;
    }
    
    h2 {
        font-size: 1.3rem;
    }
    
    h3 {
        font-size: 1.2rem;
    }
    
    h4 {
        font-size: 1.1em;
    }
    
    p {
        font-size: 1em;
    }

    .date {
        font-size: 0.7em;
        margin-top: -20px;
    }

    .social {
        margin-top: 10px;
    }

    /* ----------------------   Main   -------------------------- */

    .join-msg, .spotlight3-msg {
        display: none;
    }

    /* ----------------------   Discover   -------------------------- */

    .discover-cards {
        grid-template-columns: 1fr;
    }

    /* ----------------------   Contact   -------------------------- */

    .site {
        height: 160px;
    }
    
    .site img {
        height: 140px;
    }

    /* ----------------------   Directory   -------------------------- */

    .cards {
        display: block;
    }

    .cards section {
        background-color: var(--accent2-color);
        margin-top: 2%;
    }

    .cards img {
        width: 200px;
    }
}