@media (min-width: 850px) {
    .site-name {
        font-size: 1.1em;
    }

    nav {
        background-color: transparent;
        grid-column: 4/5;
        font-size: 0.6em;
        align-self: center;
    }

    .navigation {
		display: grid;
        grid-template-columns: repeat(7, 1fr);
        column-gap: 5px;
	}
	
    .navigation li {
		display: block; /* change state in small view */
	}

	.navigation a {
		text-align: center;
        font-size: 0.68em;
        padding: 0px;
	}
	
    .navigation li:first-child {
		display: none;
	}

    .date {
        font-size: 0.8em;
    }

    /* ----------------------   Main   -------------------------- */

    .content {
        margin-top: 3%;
        margin-bottom: 3%;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2%;
    }

    .hero-msg {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .news-release-msg {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    #spotlights {
        grid-column: 1/3;
        grid-row: 3/4;
        grid-template-columns: repeat(2, 1fr);
    }

    .spotlight3-msg {
        display: none;
    }

    .join-msg {
        grid-column: 1/3;
        grid-row: 4/5;
    }

    .event-msg {
        grid-column: 1/2;
        grid-row: 5/6;
    }

    /* ----------------------   Footer   -------------------------- */

    .footer-text {
        font-size: 0.9em;
    }
    
    .update-text {
        font-size: 0.9em;
    }
}